{% extends 'main.html' %}
{% block content %}
<div class="form-container">
    <center>
    <h2>Change Password</h2>
    <form method="POST">
        {% csrf_token %}
        
        <label for="new_password">New Password:</label>
        <input type="password" id="new_password" name="new_password" required>
        
        <label for="confirm_password">Confirm New Password:</label>
        <input type="password" id="confirm_password" name="confirm_password" required>
        
        <button type="submit">Change Password</button>
    </form>

    <a href="{% url 'profile' %}" class="back-link">Back to Profile</a>
</div>

</center>
{% endblock content %}
